/web/bundles/
/web/assetic/
/web/widgets/*
!web/widgets/.gitkeep
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/nbproject
/web/themes
/web/fonts
/web/images
/web/scripts
/web/styles
/web/js
/.idea/
/src/Pokupo/LandingBundle/Resources/views/Content/_analitics.html.twig
/web/robots.txt
/web/uploads/.tmb/