<div class="columns">
    <div class="first column">
        <div class="content">
            <ul>
                <li><span class="contact"><i class="contact-icon copyright"></i>Pokupo.ru&nbsp;2014</span></li>
                <li><a href="mailto:support@pokupo.ru" title="E-Mail" class="contact"><i class="contact-icon email"></i>support@pokupo.ru</a></li>
                <li><a href="skype:pokupo.ru?chat" onclick="return skypeCheck()" title="Skype" class="contact"><i class="contact-icon skype"></i>pokupo.ru</a></li>
            </ul>
        </div>
    </div>
    <div class="fourth column">
        <div class="content">
            <ul class="social">
                <li><a href="https://vk.com/pokupo" target="_blank" title="Вконтакте" class="social__icon vk"></a></li>
                <li><a href="https://twitter.com/pokupo_ru" target="_blank" title="Твиттер" class="social__icon tw"></a></li>
                <li><a href="{{ path('_blog_default') }}" target="_blank" title="Блог" class="social__icon lj"></a></li>
                <li><a href="http://habrahabr.ru/users/pokupo/" target="_blank" title="Хабрахабр" class="social__icon hh"></a></li>
                <li><a href="https://groups.google.com/d/forum/pokupo_ru" target="_blank" title="Гугл-плюс" class="social__icon gp"></a></li>
            </ul>
        </div>
    </div>
    <div class="second column">
        <div class="content">
            <ul>
                <li><a href="https://help.pokupo.ru/knowledgebase.php" title="База знаний">База знаний</a></li>
                <li><a href="https://help.pokupo.ru/" title="Техническая поддержка">Техническая поддержка</a></li>
                <li><a href="/sitemap" title="Оставить отзыв">Карта сайта</a></li>
            </ul>
        </div>
    </div>
    <div class="third column">
        <div class="content">
            <ul>
                <li><a href="/rules" title="Пользовательское соглашение">Пользовательское соглашение</a></li>
                <li><a href="/police" title="Правила конфиденциальности"> Правила конфиденциальности</a></li>
                <li><a href="/refund" title="Политика возврата платежей"> Политика возврата платежей</a></li>
            </ul>
        </div>
    </div>
    <div id="paymentLogo" style="clear: both; padding-top: 30px; margin-bottom:-22px">
        <img src="{{ asset('uploads/images/pimgpsh_fullsize_distr.jpg') }}" alt="платёжные системы для интернет-магазина"/>
    </div>
</div>