{% extends_admingenerated "PokupoMenuBundle:Menu_itemList:row.html.twig" %}

{% block list_td_column_title %}
    <span style="padding-left: {{(MenuItem.level - 1) * 20}}px">{{ MenuItem.title }}</span>
{% endblock list_td_column_title %}