#footer {
    position: fixed;
    bottom: 0px;
    width:97%;
}
#login_form form table {
    margin: 0 auto;
}
#login_form form table td{
    border: none;
}
#login_form {
    margin-top: 10%;
}
#login_form .table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
    background-color: #f9f9f9;
}
.error{
    color: #b94a48;
    text-align: center;
}
.navbar-header{
    padding-top: 8px;
}
.navbar-header .brand{
    color: #fff;
    font-size: 24px;
}

