{% trans_default_domain 'PokupoJsGeneratorBundle' %}
<li ng-class="{true: 'disabled'}[steps[{{ step }}].disabled]">
    <a href="#step{{ step }}" ng-click="Click.Tab({{ step }})">
        {{ 'typeSettings.tab'|trans }}
    </a>
</li>