<div class="progress">
    {% verbatim %}
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="{{ countSteps }}">

    </div>
    {% endverbatim %}
</div>