<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav nav-tabs tabs-left" id="jsGeneratorSteps">
            {#{% include 'PokupoJsGeneratorBundle:Panel:wizard/_theme.html.twig' with {'step': 1} %}#}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_typeSettings.html.twig' with {'step': 2} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_choice.html.twig' with {'step': 3} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_shopInfo.html.twig' with {'step': 4} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_content.html.twig' with {'step': 5} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_promoBlock.html.twig' with {'step': 6} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_catalog.html.twig' with {'step': 7} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_breadcrumbs.html.twig' with {'step': 8} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_goods.html.twig' with {'step': 9} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_relatedGoods.html.twig' with {'step': 10} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_order.html.twig' with {'step': 11} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_payment.html.twig' with {'step': 12} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_cartGoods.html.twig' with {'step': 13} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_registration.html.twig' with {'step': 14} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_registrationSeller.html.twig' with {'step': 15} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_authentication.html.twig' with {'step': 16} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_menuCabinet.html.twig' with {'step': 17} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_profile.html.twig' with {'step': 18} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_cartGoodsCabinet.html.twig' with {'step': 19} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_orderList.html.twig' with {'step': 20} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_favorites.html.twig' with {'step': 21} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_message.html.twig' with {'step': 22} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_cartInfo.html.twig' with {'step': 23} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_userInfo.html.twig' with {'step': 24} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_search.html.twig' with {'step': 25} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_searchResult.html.twig' with {'step': 26} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_advancedSearch.html.twig' with {'step': 27} %}
            {% include 'PokupoJsGeneratorBundle:Panel:wizard/_generator.html.twig' with {'step': 28} %}
        </ul>
    </div>
</div>